/*
    Unit card Print - small / preview scale
*/
.page{
    min-width: 750px;
    max-width: 750px;
    width: 750px;

    min-height: 1050px;
    max-height: 1050px;
    height: 1050px;
}



.main{
    min-width: 315px;
    max-width: 315px;
    width: 315px;

    min-height: 225px;
    max-height: 225px;
    height: 225px;

    background-image: url("../../public/img/unitcard_work_r3.png");
    background-repeat: no-repeat;
    background-size: contain;
    break-inside: avoid;
    float:left;
}


@media print{

    .main{
        min-width: 315px;
        max-width: 315px;
        width: 315px;
    
        min-height: 225px;
        max-height: 225px;
        height: 225px;
    
        background-image: url("../../public/img/unitcard_work_r3.png") !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        page-break-inside: avoid;
        float:left;
        -webkit-print-color-adjust: exact !important;   /* Chrome, Safari */
        print-color-adjust: exact !important;                 /*Firefox*/
    }
}

@page {
    size:A4 portrait;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin: 0;
    -webkit-print-color-adjust: exact;
}

.header-row{
    position: relative;
    top: 0.5%;
    left: 2%;
    float: left;
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    min-height: 19%;
    max-height: 19%;
    height: 19%;
    overflow: hidden;
}
.title{
    position: relative;
    float:left;
    min-width: 85%;
    max-width: 85%;
    width: 85%;

    min-height: 100%;
    max-height: 100%;
    height: 100%;
}
.title > div{
    min-height: 35%;
    max-height: 35%;
    height: 35%;
}
.subName{
    font-style: italic;
    font-size: small;
}
.points{
    position: relative;
    float:left;
    font-weight: 800;
    font-size: large;
    min-width: 15%;
    max-width: 15%;
    width: 15%;
    padding-left: 0.5%;
    padding-top: 2%;
}

.row-top{
    position: relative;
    float: left;
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    min-height: 18%;
    max-height: 18%;
    height: 18%;
}
.stat-column-core{
    position: relative;
    float: left;
    min-width: 30%;
    max-width: 30%;
    width: 30%;
}
.stat-core-val{
    position: relative;
    float: left;
    min-width: 50%;
    max-width: 50%;
    width: 50%;
    padding-top: 11%;
    margin-left: -1%;
    text-align: center;
    font-weight: 600;
    font-size: larger;
}

.stat-attacks{
    position: relative;
    float: left;
    min-width: 60%;
    max-width: 60%;
    width: 60%;
    margin-left: 10%;
}
.ranges-row{
    position: relative;
    float:left;
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    min-height: 15%;
    max-height: 15%;
    height: 15%;
    margin-top: -3%;
}
.ranges-row > div{
    position: relative;
    float:left;
    min-width: 30%;
    max-width: 30%;
    width: 30%;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.stat-dmg-row{
    position: relative;
    float:left;
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    min-height: 50%;
    max-height: 50%;
    height: 50%;
    font-size: larger;
    margin-top: -0.5%;
}
.stat-dmg-row > div{
    position: relative;
    float:left;
    min-width: 30%;
    max-width: 30%;
    width: 30%;
    text-align: center;
    font-size: large;
    font-weight: 600;
    margin-top: -2%;
    margin-right: -1%
}

.row-bottom{
    position: relative;
    float:left;
    min-width: 100%;
    max-width: 100%;
    width: 100%;

    min-height: 63%;
    max-height: 63%;
    height: 63%;
}
.row-bottom-left{
    position: relative;
    float:left;
    min-width: 42%;
    max-width: 42%;
    width: 42%;
}
.stat-column-core-bottom{
    position: relative;
    float: left;
    min-width: 73%;
    max-width: 73%;
    width: 73%;

    min-height: 40%;
    max-height: 40%;
    height: 40%;
}
.tag-panel{
    position: relative;
    float:left;

    min-width: 100%;
    max-width: 100%;
    width: 100%;

    min-height: 60%;
    max-height: 60%;
    height: 60%;

    margin-left: 4%;
    padding-top: 10%;

    font-size: 8px;
    list-style: none;
    line-height: 10px;
}

.row-bottom-right{
    position: relative;
    float:left;
    min-width: 57%;
    max-width: 57%;
    width: 57%;
}

.unit-img{
    position: relative;
    max-width: 170px;
    max-height: 140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}